/* -------------------------------------------------------------------------- */
/*                                    Font                                    */
/* -------------------------------------------------------------------------- */
.thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

/* -------------------------------------------------------------------------- */
/*                                    Other                                   */
/* -------------------------------------------------------------------------- */
.exp {
  box-shadow: 0 8px 24px rgba(18, 7, 143, 0.0392156863), 0 1px 2px rgba(14, 9, 72, 0.0784313725), 0 0 0 1px rgba(14, 9, 72, 0.0392156863), inset 0 0 3px rgba(19, 39, 108, 0.0392156863), inset 0 -6px 1px rgba(19, 39, 109, 0.0588235294);
  border-radius: 15px;
  width: max-content;
  padding: 8px 18px 12px;
  margin-bottom: 0;
  font-size: 14px !important;
  color: var(--cool-gray-80) !important;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

xmp {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.text-olive-100 {
  color: #889E00;
}

/* -------------------------------------------------------------------------- */
/*                                    Mixin                                   */
/* -------------------------------------------------------------------------- */
/* --------------------------------- Padding -------------------------------- */
.p-a-auto {
  padding: auto !important;
}

.p-t-auto {
  padding-top: auto !important;
}

.p-r-auto {
  padding-right: auto !important;
}

.p-b-auto {
  padding-bottom: auto !important;
}

.p-l-auto {
  padding-left: auto !important;
}

.p-x-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.p-y-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.p-a-none {
  padding: 0 !important;
}

.p-t-none {
  padding-top: 0 !important;
}

.p-r-none {
  padding-right: 0 !important;
}

.p-b-none {
  padding-bottom: 0 !important;
}

.p-l-none {
  padding-left: 0 !important;
}

.p-x-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-y-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-a-ml {
  padding: 64px !important;
}

.p-t-ml {
  padding-top: 64px !important;
}

.p-r-ml {
  padding-right: 64px !important;
}

.p-b-ml {
  padding-bottom: 64px !important;
}

.p-l-ml {
  padding-left: 64px !important;
}

.p-x-ml {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.p-y-ml {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.p-a-xxxl {
  padding: 32px !important;
}

.p-t-xxxl {
  padding-top: 32px !important;
}

.p-r-xxxl {
  padding-right: 32px !important;
}

.p-b-xxxl {
  padding-bottom: 32px !important;
}

.p-l-xxxl {
  padding-left: 32px !important;
}

.p-x-xxxl {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.p-y-xxxl {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.p-a-xxl {
  padding: 24px !important;
}

.p-t-xxl {
  padding-top: 24px !important;
}

.p-r-xxl {
  padding-right: 24px !important;
}

.p-b-xxl {
  padding-bottom: 24px !important;
}

.p-l-xxl {
  padding-left: 24px !important;
}

.p-x-xxl {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.p-y-xxl {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.p-a-xl {
  padding: 20px !important;
}

.p-t-xl {
  padding-top: 20px !important;
}

.p-r-xl {
  padding-right: 20px !important;
}

.p-b-xl {
  padding-bottom: 20px !important;
}

.p-l-xl {
  padding-left: 20px !important;
}

.p-x-xl {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.p-y-xl {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-a-l {
  padding: 16px !important;
}

.p-t-l {
  padding-top: 16px !important;
}

.p-r-l {
  padding-right: 16px !important;
}

.p-b-l {
  padding-bottom: 16px !important;
}

.p-l-l {
  padding-left: 16px !important;
}

.p-x-l {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.p-y-l {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.p-a-s {
  padding: 8px !important;
}

.p-t-s {
  padding-top: 8px !important;
}

.p-r-s {
  padding-right: 8px !important;
}

.p-b-s {
  padding-bottom: 8px !important;
}

.p-l-s {
  padding-left: 8px !important;
}

.p-x-s {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.p-y-s {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

/* --------------------------------- Margin --------------------------------- */
.m-a-auto {
  margin: auto !important;
}

.m-t-auto {
  margin-top: auto !important;
}

.m-r-auto {
  margin-right: auto !important;
}

.m-b-auto {
  margin-bottom: auto !important;
}

.m-l-auto {
  margin-left: auto !important;
}

.m-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.m-a-none {
  margin: 0 !important;
}

.m-t-none {
  margin-top: 0 !important;
}

.m-r-none {
  margin-right: 0 !important;
}

.m-b-none {
  margin-bottom: 0 !important;
}

.m-l-none {
  margin-left: 0 !important;
}

.m-x-none {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.m-y-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-a-ml {
  margin: 64px !important;
}

.m-t-ml {
  margin-top: 64px !important;
}

.m-r-ml {
  margin-right: 64px !important;
}

.m-b-ml {
  margin-bottom: 64px !important;
}

.m-l-ml {
  margin-left: 64px !important;
}

.m-x-ml {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.m-y-ml {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.m-a-xxxl {
  margin: 32px !important;
}

.m-t-xxxl {
  margin-top: 32px !important;
}

.m-r-xxxl {
  margin-right: 32px !important;
}

.m-b-xxxl {
  margin-bottom: 32px !important;
}

.m-l-xxxl {
  margin-left: 32px !important;
}

.m-x-xxxl {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.m-y-xxxl {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.m-a-xxl {
  margin: 24px !important;
}

.m-t-xxl {
  margin-top: 24px !important;
}

.m-r-xxl {
  margin-right: 24px !important;
}

.m-b-xxl {
  margin-bottom: 24px !important;
}

.m-l-xxl {
  margin-left: 24px !important;
}

.m-x-xxl {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.m-y-xxl {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.m-a-xl {
  margin: 20px !important;
}

.m-t-xl {
  margin-top: 20px !important;
}

.m-r-xl {
  margin-right: 20px !important;
}

.m-b-xl {
  margin-bottom: 20px !important;
}

.m-l-xl {
  margin-left: 20px !important;
}

.m-x-xl {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.m-y-xl {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.m-a-l {
  margin: 16px !important;
}

.m-t-l {
  margin-top: 16px !important;
}

.m-r-l {
  margin-right: 16px !important;
}

.m-b-l {
  margin-bottom: 16px !important;
}

.m-l-l {
  margin-left: 16px !important;
}

.m-x-l {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.m-y-l {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.m-a-s {
  margin: 8px !important;
}

.m-t-s {
  margin-top: 8px !important;
}

.m-r-s {
  margin-right: 8px !important;
}

.m-b-s {
  margin-bottom: 8px !important;
}

.m-l-s {
  margin-left: 8px !important;
}

.m-x-s {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.m-y-s {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

/* -------------------------------- Font Size ------------------------------- */
.fs-17px {
  font-size: 17px !important;
}

.fs-19px {
  font-size: 19px !important;
}

.fs-23px {
  font-size: 23px !important;
}

.fs-28px {
  font-size: 28px !important;
}

.fs-33px {
  font-size: 33px !important;
}

.fs-40px {
  font-size: 40px !important;
}

/* ------------------------------- Font Weight ------------------------------ */
.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

/* -------------------------------------------------------------------------- */
/*                                   Classes                                  */
/* -------------------------------------------------------------------------- */
body {
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.15px;
  font-family: "Poppins", serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, p, .p {
  all: unset;
  display: block;
  margin: 0;
}

p, .p {
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.15px;
  font-weight: 300;
}

h1, .h1 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.25px;
}

h2, .h2 {
  font-size: 33px;
  line-height: 46px;
  letter-spacing: 0.25px;
}

h3, .h3 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.25px;
}

h4, .h4 {
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0px;
}

h5, .h5 {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

h6, .h6 {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

a, .a {
  all: unset;
  font-size: 17px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.026px;
  text-decoration: none;
  color: #00A0EA;
  cursor: pointer;
}

ol, ul {
  padding-left: 30px;
  margin-top: unset;
  margin-bottom: 20px;
}

li {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 200% !important;
  letter-spacing: 0;
}
li img {
  vertical-align: sub;
}

section.important, .important-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid #FFE4A8;
  background-color: #FFF3D7;
}
section.important p, .important-section p {
  margin-bottom: 0;
}
section.important p:first-child, .important-section p:first-child {
  margin-left: 4px;
  position: relative;
}
section.important p:first-child::before, .important-section p:first-child::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -8px;
  border-radius: 20px;
  background-color: #FCC500;
  width: 4px;
  height: 16px;
}

.round {
  border-radius: 20px;
}

.shadow {
  box-shadow: 0px 2px 15px 0px rgba(95, 101, 155, 0.15);
}

.hero {
  text-align: center;
  margin-top: 64px;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.align-justify {
  text-align: justify !important;
}

.divider-dot {
  border-width: 1.5px;
  border-style: dotted none none;
  border-color: #CAD3DD;
}

.divider-light {
  border-width: 1px;
  border-style: solid none none;
  border-color: #E8ECF2;
}

.divider-medium {
  border-width: 2px;
  border-style: solid none none;
  border-color: #E8ECF2;
}

.divider-large {
  border-width: 4px;
  border-style: solid none none;
  border-color: #E8ECF2;
}
