$size-map: ('auto': auto, 'none': 0, 'ml': 64px, 'xxxl': 32px, 'xxl': 24px, 'xl': 20px, 'l': 16px, 's': 8px)
$sides-map: ('a': '', 't': 'top', 'r': 'right', 'b': 'bottom', 'l': 'left', 'x': 'horizontal', 'y': 'vertical')
$opacity-map: ('0': 0, '10': 0.1, '20': 0.2, '30': 0.3, '40': 0.4, '50': 0.5, '60': 0.6, '70': 0.7, '80': 0.8, '90': 0.9, '100': 1)

$font-size-list: 13px 15px 17px 19px 23px 28px 33px 40px
$font-weight-list: 100 200 300 400 500 600 700 800 900
